<div class="container">
  <h2>Hover Rows</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th 
          ng-click="sortBy('name')">Firstname <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th 
          ng-click="sortBy('age')"
        	>Age 
        	<i class="fa fa-sort" aria-hidden="true"></i>
        </th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr 
      ng-class="{active: content.isActive}"
      ng-repeat="content in list | orderBy: propertyName">
        <td>{{ content.name }}</td>
        <td>{{ content.age }}</td>
        <td>{{ content.email }}</td>
        <td>
  	        <div class="checkbox">
    			  <label><input 
              type="checkbox" 
              ng-model="content.isActive" 
              value="">Option 1</label>
    			</div>
    		</td>
        <td>
          <button 
              ng-show="content.isActive"
              ng-click="deleteOne(content._id)"
              type="button" 
              class="btn btn-danger">Удалить </button>
        </td>
        <td>
          <button 
              type="button"
              ng-click="editPost(content._id, $index)" 
              class="btn btn-info">редактировать </button>
        </td>
      </tr>
      <tr>
        <td>Итого {{ count }}</td>
      </tr>
      <tr ng-show="addBoolen">
        <td>
          <input 
            ng-model="form.name"
            type="text" 
            placeholder="Имя "></td>
        <td>
          <input 
            ng-model="form.age"
            type="text" 
            placeholder="Возраст "></td>
        <td>
          <input 
            ng-model="form.email"
            type="text" 
            placeholder="Email"></td>
        <td>
        <button 
          class="btn btn-info"
          ng-show="editButton" 
          ng-click="endEdit()">Завершить Ред-ть </button>
        <button 
          class="btn btn-default"
          ng-show="!editButton" 
          ng-click="addNew()">Добавить </button></td>
      </tr>
    </tbody>
  </table>

  <button 
    ng-click="addBoolen = true"
    type="button" 
    class="btn btn-primary">Добавить </button>
  <button 
    ng-click="chooseAll()"
    type="button" 
    class="btn btn-info">Выбрать все </button>
  <button 
    ng-click="deleteData()"
    type="button" 
    class="btn btn-danger">Удалить </button>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






















































