<div class="container">
	<div class="form-group">
	  <label for="sel1">Select list:</label>
	  <h3
	  	ng-show="!input"
	  	ng-click="show()"
	  	ng-repeat="content in name">
	  	{{ content.name }}
	  </h3>

	  <form>
	  		<!-- если inputShow -->
	  		<input 
	  			ng-show="input"
	  			ng-click="listShow = false"
			  	type="text" 
			  	placeholder="Выберите категорию"
			  	ng-model="searchText"
			  	value="{{ name }}" 
			  	>
			<ul ng-show="!listShow">
				<li 
					ng-repeat="list in category | filter:searchText">
					<input 
						type="checkbox" 
						id="{{ $index }}"
						ng-model="list.state"
						ng-false-value="false"
						ng-true-value="true">
					<label
						for="{{ $index }}"
						>{{ list.name }}</label>
				</li>
				<button ng-click="result()">ок</button>
				<button>cancel</button>
			</ul>
	  </form>

	</div>
	<!-- <h2>{{ name }}</h2> -->
	<!-- я тебе даже сам могу отправить ajax POST запрос если нужно будет -->
</div>




































